{% extends 'layouts/base_sections.html' %}
{% load query_transform %}
{% load bootstrap5 %}

{% block body %} class="index-page bg-gray-200" {% endblock body %}

{% block content %}
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
        integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
        crossorigin="anonymous"/>
  <section style="margin-top: 15px" class="blog-listing gray-bg">
    <div class="container">
      <!-- Search by dish.name -->
      <form action="" method="get" class="form-inline d-flex">
        {% bootstrap_form search_form layout='inline' %}
        <input type="submit" value="Search" class="btn btn-primary ms-2">
        <!-- Sort by price -->
        {% if request.GET.sort == 'desc' %}
          <a href="?{% query_transform request sort='asc' %}"
             class="btn btn-secondary ms-4">
            \/
          </a>
        {% else %}
          <a href="?{% query_transform request sort='desc' %}"
             class="btn btn-secondary ms-4">
            /\
          </a>
        {% endif %}
        <!-- Remove sort / search filters -->
        {% if request.GET.name %}
          <a href="{% url "pizza_delivery:index" %}"
             class="btn btn-secondary ms-4">
            Clear
          </a>
        {% else %}
          <a href="{% url "pizza_delivery:index" %}"
             class="btn btn-outline-secondary ms-4"
             style="pointer-events: none">
            Clear
          </a>
        {% endif %}
      </form>

      <div class="row align-items-start">
        <div class="col-lg-8 m-15px-tb">
          <div class="row">
            {% for dish in dishes_list %}
              <div class="col-sm-6">
                <div class="blog-grid">
                  <div class="blog-img">
                    {% if dish.image %}
                      <a href="{{ dish.get_absolute_url }}">
                        <img
                            src="{{ dish.image.url }}"
                            title="" alt="" style="border-radius: 8px">
                      </a>
                    {% else %}
                      <a href="{{ dish.get_absolute_url }}">
                        <img
                            src="https://www.bootdey.com/image/400x200/FFB6C1/000000"
                            title="" alt="">
                      </a>
                    {% endif %}

                  </div>
                  <div class="blog-info">
                    <h5><a
                        href="{{ dish.get_absolute_url }}">{{ dish.name }}</a>
                    </h5>
                    <p>{{ dish.ingredients }}</p>
                    <p><strong>{{ dish.price }} USD</strong>
                      {% block add_remove_dish_button %}
                        {% include "includes/add_remove_dish_button.html" %}
                      {% endblock %}
                    </p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>

        </div>

        <div class="col-lg-4 m-15px-tb blog-aside">
          {% block order %}
            {% include "includes/order_counter.html" %}
          {% endblock %}
        </div>
      </div>
      {% block pagination %}
        {% include "includes/pagination.html" with page_obj=dishes_list %}
      {% endblock pagination %}
    </div>

  </section>

{% endblock content %}

{% block javascripts %}
  <script type="text/javascript">
      if (document.getElementById('state1')) {
          const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
          if (!countUp.error) {
              countUp.start();
          } else {
              console.error(countUp.error);
          }
      }
      if (document.getElementById('state2')) {
          const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
          if (!countUp1.error) {
              countUp1.start();
          } else {
              console.error(countUp1.error);
          }
      }
      if (document.getElementById('state3')) {
          const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
          if (!countUp2.error) {
              countUp2.start();
          } else {
              console.error(countUp2.error);
          }
      }
  </script>
{% endblock javascripts %}
