<!-- Navbar Light -->
<nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
  <div class="container">
    <a class="navbar-brand" href="" rel="tooltip"
       title="PYzzeria" data-placement="bottom">
      PYzzeria
    </a>
    <button class="navbar-toggler shadow-none ms-2" type="button"
            data-bs-toggle="collapse" data-bs-target="#navigation"
            aria-controls="navigation" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon mt-2">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </span>
    </button>
    <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 ms-lg-12 ps-lg-5"
         id="navigation">
      <ul class="navbar-nav navbar-nav-hover w-100">
        <li class="nav-item dropdown dropdown-hover mx-2 ms-lg-5">
          <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
             id="dropdownMenuPages" data-bs-toggle="dropdown"
             aria-expanded="false">
            Settings
            <img
                src="https://appsrv1-147a1.kxcdn.com/soft-ui-design-v1.0.1/img/down-arrow-dark.svg"
                alt="down-arrow" class="arrow ms-1">
          </a>
          <div
              class="dropdown-menu dropdown-menu-animation dropdown-md p-3 border-radius-lg mt-0 mt-lg-3"
              aria-labelledby="dropdownMenuPages">
            <div class="d-none d-lg-block">
              <a href="About" class="dropdown-item border-radius-md">
                About Us
              </a>
              <a href="javascript:;" class="dropdown-item border-radius-md">
                Contact Us
              </a>
              <a href="javascript:;" class="dropdown-item border-radius-md">
                Author
              </a>
              <a href="javascript:;" class="dropdown-item border-radius-md">
                Sign In
              </a>
            </div>

            <div class="d-lg-none">
              <a href="javascript:;" class="dropdown-item border-radius-md">
                About Us
              </a>
              <a href="javascript:;" class="dropdown-item border-radius-md">
                Contact Us
              </a>
              <a href="javascript:;" class="dropdown-item border-radius-md">
                Author
              </a>
              <a href="javascript:;" class="dropdown-item border-radius-md">
                Sign In
              </a>
            </div>

          </div>
        </li>
        <li class="nav-item ms-lg-auto my-auto ms-3 ms-lg-0 mt-2 mt-lg-0">
          {% if user.is_authenticated %}
            {{ user.get_username }}
            <a href="{% url "pizza_delivery:logout" %}"
               class="btn btn-sm  bg-gradient-primary  btn-round mb-0 me-1 mt-2 mt-md-0">
              Logout
            </a>
          {% else %}
            <a href="{% url "pizza_delivery:login" %}"
               class="btn btn-sm  bg-gradient-primary  btn-round mb-0 me-1 mt-2 mt-md-0">
              Login
            </a>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->

